---
import Layout from "../../../layouts/Layout.astro"
import Header from "../../../components/Header.astro"

import ARC from "./_ARC"

---

<Layout
		title="Aspect Ratio Calculator | Exerra Tools"
		description={"Calculate the the missing width/height for an aspect ratio"}
>
	<section class="container grid items-center gap-6 pt-6 pb-8 mx-auto px-6 md:py-10">
		<Header
				title={"Aspect Ratio Calculator"}
				description={"Calculates the missing width/height value when resizing one value in a given aspect ratio"}
		/>

		<ARC client:load />
	</section>

</Layout>