---

import DTC, { title, description } from "./_DTC";
import Layout from "../../../layouts/Layout.astro";
import Header from "../../../components/Header.astro";

---

<Layout
		title={`${title} | Exerra Tools`}
		description={description}
>
	<section class="container grid items-center gap-6 pt-6 pb-8 mx-auto px-6 md:py-10">
		<Header
				title={title}
				description={description}
		/>

		<DTC client:load />
	</section>

</Layout>